@model ProductVM

<div class="card shadow my-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-12">
                <h2 class="text-primary">@(Model.Product.ProductId != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Product.ProductId" hidden />
            <input asp-for="Product.ImageURL" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3 mt-4">
                        <div class="mb-3 row p-1">
                            <label class="form-label p-0">Product Name</label>
                            <input class="form-control" asp-for="Product.Name" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label class="form-label p-0">Brand Name</label>
                            <input class="form-control" asp-for="Product.Brand" />
                            <span asp-validation-for="Product.Brand" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label class="form-label p-0">Size</label>
                            <input class="form-control" asp-for="Product.Size" />
                            <span asp-validation-for="Product.Size" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label class="form-label p-0">Product Description</label>
                            <textarea class="form-control text-muted" asp-for="Product.Description"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label class="form-label p-0">Price</label>
                            <input class="form-control" asp-for="Product.Price" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label class="form-label p-0">Image URL</label>
                            <input class="form-control" type="file" name="file" />
                        </div>
                        <div class="row p-1">
                            <img src="@Model.Product.ImageURL" class="img-fluid"
                                 style="border-radius: 5px; border: 1px solid lightgrey; width:  200px; height: 200px;
                                    object-fit: cover;" />
                        </div>
                        <div class="mb-3 row p-1">
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                                <option disabled selected>-- Select Category --</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                @if (Model.Product.ProductId != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }

                            </div>
                            <div class="col-6">
                                <a class="btn btn-outline-secondary form-control"
                                   asp-controller="Product"
                                   asp-action="Index">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

    </div>
    
</div>

@section Scripts {

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'tinycomments mentions anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Kailah',
            forced_root_block: "", selector: 'textarea',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}